/*Menus*/
#active { display:block; }
#s3d { display:none; }
#bombmax { display:none; }
#bombmin { display:none; }
#visualizer { display:none; }

body {
	padding-top: 30px;
	background-color:#ECEFF1;
}

.navbar {
	background-color:#CFD8DC;
	font-size:15px;
}

.page-header {
	color:#616161;
	font-size:25px;	
	margin-left:15px;
}


input {
	float: right;
	width: 150px;
}



#update { margin: 15px; }

.col-sm-12 p { font-size:20px; }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width:2px;
  shape-rendering: crispEdges;
}
/*
.x.axis path {
  display: none;
}
*/

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 2px;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.tick text{
    font-size: 11px;
}

.tick line{
	opacity: 0.2;
}
  
.svg-container {
   /* display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;*/
}
.svg-content {
    /*display: inline-block;
    position: relative;
    top: 0;
    left: 0;*/
}


#max_graph {
	font: 10px sans-serif;
}
#min_graph {
	font: 10px sans-serif;
}

.content {
	padding-top: 40px;
}

#visualizer_box {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

#visualizer_menu {


}
